@using TrustPay.Models.Domain
@model AddAccountsViewModel
<h1>Add Account</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Balance</label>
        <input type="decimal" class="form-control" asp-for="@Model.Balance" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Currency</label>
        <input type="text" class="form-control" asp-for="@Model.Currency" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">AccountType</label>
        <input type="text" class="form-control" asp-for="@Model.AccountType" />
    </div>
    <div class="mb-3">
        <label for="" class="form-label">CreatedAt</label>
        <input type="date" class="form-control" asp-for="@Model.CreatedAt" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
